{namespace pw=PwCommentsTeam\PwComments\ViewHelpers}<f:translate key="tx_pwcomments.mailToAuthorAfterSubmit.salutation" />
<f:if condition="{settings.moderateNewComments}"><f:then><f:translate key="tx_pwcomments.mailToAuthorAfterSubmit.newCommentWithModerationHasBeenSubmitted"/></f:then><f:else><f:translate key="tx_pwcomments.mailToAuthorAfterSubmit.newCommentHasBeenSubmitted"/></f:else></f:if>
<f:uri.page addQueryString="true" argumentsToBeExcludedFromQueryString="{0:'id', 1:'cHash', 2:'tx_pwcomments_pi1'}" noCacheHash="true"/>

---------------------------------------------------
<f:translate key="tx_pwcomments.notificationMail.name" />{f:if(condition: '{comment.author}', then: '{comment.author.username} {f:translate(key:\'tx_pwcomments.notificationMail.registred\')}', else: '{comment.authorName}')}
<f:translate key="tx_pwcomments.notificationMail.mail" />{f:if(condition: '{comment.author}', then: '{comment.author.email}', else: '{comment.authorMail}')}

<f:translate key="tx_pwcomments.notificationMail.comment" />
{comment.message}